<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3" style="margin-bottom: 0px !important;">
	<div class="container">
		<a class="navbar-brand" href="/">Monoqlo</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
				  aria-expanded="false"
				  aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/catalogue/his">Men's</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/catalogue/hers">Women's</a>
				</li>
				
			</ul>
			<ul class="navbar-nav ml-auto">
				{{#if customer}}
					<li class="nav-item dropdown">
						<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">{{custName}}
							</a>
						<div class="dropdown-menu">
							<a href="/user/edit-user-account" class="dropdown-item">View profile</a>
							<a href="/user/reset-password" class="dropdown-item">Reset password</a>
							<a href="" class="dropdown-item">View Orders</a>
							<a href="/user/logout" class="dropdown-item">Logout</a>
						</div>
					</li>
					<li class="nav-link">
						<a href="/user/cart" style="color: grey;"><i class="fa fa-shopping-cart mr-2"></i>Cart</a>
					</li> 
				{{else}}
					<li class="nav-item">
						<a href="/user/login" class="nav-link" onclick="alert('Please Login')"><i class="fa fa-shopping-cart mr-2"></i>Cart</a>
					</li>
					<li class="nav-item">
						<a href="/staff-login" class="nav-link">Staff Login</a>
					</li>
					<li class="nav-item">
						<a href="/user/login" class="nav-link">Login</a>
					</li>
					<li class="nav-item">
						<a href="/user/register" class="nav-link">Register</a>
					</li>
				{{/if}}
			</ul>
		</div>
	</div>
</nav>