<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .image1 {
            width: 200px;
            height: 200px;
        }
    </style>
    
</head>
<div class="container">
    <h2>Men's</h2>
    <table class="table table-fluid" id="table_id">
        <tbody>
            {{#each item}}
            <tr>
                <td><img src= "\img\itemPlaceholder.jpg " class="image1"></td>
                <td><a href="/viewDetails/{{itemSerial}}">{{itemName}}</a></td>
                <td>
                    <p>Size</p>
                </td>
                </tr>
                <tr>
                <td>${{itemPrice}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    $(document).ready( function () {
    $('#table_id').DataTable();
    } );
</script>