<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;}
    
</style>
<br>
<!--Section: Block Content-->
<section>

  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-lg-8">

      <!-- Card -->
      <div class="card wish-list mb-3">
        <div class="card-body">

          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">cart</div>
            <br>
          <div class="row mb-4">
            <div class="col-md-5 col-lg-3 col-xl-3">
              <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                <img class="img-fluid w-100"
                  src="/uploads/item_pictures/11.jpg" alt="image">
              </div>
            </div>
            <div class="col-md-7 col-lg-9 col-xl-9">
              <div>
                <div class="d-flex justify-content-between">
                  <div>
                    <h5>HALF PINT ANORAK</h5>
                    <p class="mb-3 text-muted text-uppercase small">Gender : Female</p>
                    <p class="mb-2 text-muted text-uppercase small">Color: Black, Red</p>
                    <p class="mb-3 text-muted text-uppercase small">QTY : 1</p>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <a href="#!" type="button" class="card-link-secondary small text-uppercase mr-3"><i
                        class="fas fa-trash-alt mr-1"></i> Remove item </a>
                  </div>
                  <p class="mb-0"><span><strong>$30.00</strong></span></p>
                </div>
              </div>
            </div>
          </div>
          <hr class="mb-4">
        </div>
      </div>
      <!-- Card -->

      <!-- Card -->
      <div class="card mb-3">
        <div class="card-body">

          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">We accept</div>

                <img class="mr-2" width="45px"
                src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                alt="">
                <img class="mr-2" width="45px"
                src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                alt="Mastercard">
                <img class="mr-2" width="45px"
                src="https://img.icons8.com/color/48/000000/unionpay.png"
                alt="UnionPay">
        </div>
      </div>
      <!-- Card -->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4">

      <!-- Card -->
      <div class="card mb-3">
        <div class="card-body">

          <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Total amount</div>

                <ul class="list-group list-group-flush">
                    <br>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                        Shipping
                        <span>SingPost</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border-bottom-0 px-0 mb-4">
                        <div class="cart-total">
                            <strong class="cart-total-title">Total</strong>
                            <strong>
                                <p class="mb-0">(including GST)</p>
                            </strong>
                            <span class="cart-total-price" style="padding-left: 265px;">$30.00</span>
                        </div>
                    </li>
                </ul>
                <button type="button" class="btn btn-dark rounded-pill py-2 btn-block" onclick="window.location.href='checkout'">Continue to Checkout</button>

        </div>
      </div>
      <!-- Card -->
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
