{{!-- error page --}}
<div class="card card-body" style="text-align: center;">
    <h3>Oops, we've encountered an error!</h3>
    <h4>Please Try Again</h4>
    <div>
        <a class="btn btn-dark" href="/">Return home</a>
    </div>
</div>