<!-- Table Nav Bar -->
<ul class="nav nav-pills nav-fill bg-dark">
  <li class="nav-item">
    <a class="nav-link active" href="#MyOrders">My Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#Receive" >To Receive</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Completed</a>
  </li>
</ul>
<br>
<div class="table-responsive" id="MyOrders">
    <table class="table table-hover table-fixed">

    <!--Table head-->
    <thead>
        <tr>
        <th>No.</th>
        <th>Order ID</th>
        <th>Item Serial</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Amount</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td>40cc3770-c9f4-11ea-ad57-afdb76a80633</td>
        <td>2222TF</td>
        <td>1</td>
        <td>Pending</td>
        <td>27.99</td>
        </tr>
    </tbody>
    <!--Table body-->
    </table>
</div>
<div class="table-responsive" id="Receive" style="visibility: hidden;">
    <table class="table table-hover table-fixed">

    <!--Table head-->
    <thead>
        <tr>
        <th>No.</th>
        <th>Order ID</th>
        <th>Item Serial</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Amount</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td>40cc3770-c9f4-11ea-ad57-afdb76a80633</td>
        <td>2222TF</td>
        <td>1</td>
        <td>Shipping</td>
        <td>27.99</td>
        </tr>
    </tbody>
    <!--Table body-->

    </table>
</div>