<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<h3 class="text-center">Account Register</h3>
			<form action="" method="post">
				<div class="form-group">
					<label for="fname">First Name</label>
					<input type="text" class="form-control" name="fname" >
				</div>
				<div class="form-group">
					<label for="lname">Last Name</label>
					<input type="text" class="form-control" name="lname">
				</div>
				<div class="form-group">
					<label for="gender">Gender</label>
					<div>
					<input type="radio" id="male" name="gender" value="male">
						<label for="male">Male</label><br>
						<input type="radio" id="female" name="gender" value="female">
						<label for="female">Female</label><br>
					</div>
				</div>
				<div class="form-group">
					 <label for="dob">Date Of Birth</label>
					<input type="text" id="txtDate" name="dob" class="form-control"onblur = "ValidateDOB()" />
					<span class="error" id="lblError"></span>
				</div>
				<div class="form-group">
					<label for="hp">Mobile Number</label>
					<input type="tel" name="hp" class="form-control">
				</div>
				<div class="form-group">
					<label for="address">Address</label>
					<input type="text" name="address" class="form-control">
				</div>
				<div class="form-group">
					<label for="city">City</label>
					<input type="text" name="city" class="form-control">
				</div>
				<div class="form-group">
					<label for="country">Country</label>
					<input type="text" name="country" class="form-control">
				</div>
				<div class="form-group">
					<label for="postalcode">Postal Code</label>
					<input type="text" name="postalcode" class="form-control">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" name="email" class="form-control">
				</div>
				<div class="form-group">
					<label for="password">Password</label>
					<input type="password" name="password" class="form-control">
				</div>
				<div class="form-group">
					<label for="password2">Confirm Password</label>
					<input type="password" name="password2" class="form-control">
				</div>
				<button type="submit" class="btn btn-dark float-right" id="btnValidate" value="Validate" onclick="return ValidateDOB()">Register</button>
				<a href= '/user/login'>Have an account? Login now</a>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
    function ValidateDOB() {
        var lblError = document.getElementById("lblError");
 
        //Get the date from the TextBox.
        var dateString = document.getElementById("txtDate").value;
        var regex = /(((0|1)[0-9]|2[0-9]|3[0-1])\/(0[1-9]|1[0-2])\/((19|20)\d\d))$/;
 
        //Check whether valid dd/MM/yyyy Date Format.
        if (regex.test(dateString)) {
            var parts = dateString.split("/");
            var dtDOB = new Date(parts[1] + "/" + parts[0] + "/" + parts[2]);
            var dtCurrent = new Date();
            lblError.innerHTML = "Eligibility 18 years ONLY."
            if (dtCurrent.getFullYear() - dtDOB.getFullYear() < 18) {
                return false;
            }
 
            if (dtCurrent.getFullYear() - dtDOB.getFullYear() == 18) {
 
                //CD: 11/06/2018 and DB: 15/07/2000. Will turned 18 on 15/07/2018.
                if (dtCurrent.getMonth() < dtDOB.getMonth()) {
                    return false;
                }
                if (dtCurrent.getMonth() == dtDOB.getMonth()) {
                    //CD: 11/06/2018 and DB: 15/06/2000. Will turned 18 on 15/06/2018.
                    if (dtCurrent.getDate() < dtDOB.getDate()) {
                        return false;
                    }
                }
            }
            lblError.innerHTML = "";
            return true;
        } else {
            lblError.innerHTML = "Enter date in dd/MM/yyyy format ONLY."
            return false;
        }
    }
</script>