<div class="card card-body">
    <h1 class="display-4" style="text-align: center">Reset Password</h1>
    <hr class="">
    </table> 
    <form method="POST" action="/user/saveUser/{{user.id}}?_method=PUT">
            <div class="form-group">
                <label for="password">Current Password</label>
                <input type="password" id="oldpw" name="oldpw" class="form-control" >
            </div>
            <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" id="newpw" name="newpw" class="form-control" >
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" id="newpw2" name="newpw2" class="form-control">
            </div>
            <div class="row">
        </div>
            <button type="submit" class="btn btn-dark float-right" name="resetpw" value="reset" >Change Password</button>
        </form>
</div>