
<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->
{{!-- to show ALL accounts in the database --}}
<style>
    .table td.fit, 
    .table th.fit {
    white-space: nowrap;
    width: 1%;
    }
</style>

<div class="">
    <table id="accountsList" data-toggle="table" data-pagination="true" data-url="/staff/accounts-data" data-search="true" data-sort-name="type" data-show-refresh="true" data-show-columns="true" data-search-on-enter-key="true" data-show-search-button="true">
        <thead>
            <th data-field="type" data-sortable="true">Type</th>
            <th data-field="fname" data-sortable="true">First Name</th>
            <th data-field="lname" data-sortable="true">Last Name</th>
            <th data-field="email">Email</th>
            <th data-field="hp">H/P</th>
            <th></th>
        </thead>
    </table>

</div>

<script>
    $('#datepicker').datepicker({
        format: 'yyyy-mm-dd',
        uiLibrary: 'bootstrap4',
        defaultDate: "{{formatDate content.dob 'YYYY-MM-DD'}}"
    
    var $table = $('#table')

    function operateFormatter(value, row, index) {
        return [
            '<a class="edit" href="javascript:void(0)" title="Edit">',
            '<i class="fa fa-pencil"></i>',
            '</a>  ',
            '<a class="delete" href="javascript:void(0)" title="Remove">',
            '<i class="fa fa-trash"></i>',
            '</a>',
            '<a class="print" href="javascript:void(0)" title="Print">',
            '<i class="fa fa-printer"></i>',
            '</a>'
        ].join('')
    }

    window.operateEvents = {
        'click .edit': function (e, value, row, index) {
            $table.bootstrapTable('edit', {
                field: 'id',
                values: [row.id]
            })
        },
        'click .delete': function (e, value, row, index) {
            $table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
            })
        },
        'click .print': function (e, value, row, index) {
            $table.bootstrapTable('print', {
                field: 'id',
                values: [row.id]
            })
        }
    }

    $table.bootstrapTable({
        columns: [
            {
                title: 'Type',
                field: 'type',
                align: 'center',
                valign: 'middle'
                sortable: true,
            }, {
                title: 'First Name',
                field: 'fname',
                align: 'center',
                valign: 'middle',
                sortable: true,
            }, {
                title: 'Last Name',
                field: 'lname',
                align: 'center',
                valign: 'middle',
                sortable: true,
            },
            {
                title: 'Email',
                field: 'email',
                align: 'center'
            }, {
                title: 'H/P',
                field: 'hp',
                align: 'center'
            }, {
                field: 'id',
                align: 'center',
                clickToSelect: false,
                events: window.operateEvents,
                formatter: operateFormatter
            }
        ]
    })
</script>
