
<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->
{{!-- to show ALL accounts in the database --}}
<style>
    .table td.fit, 
    .table th.fit {
    white-space: nowrap;
    width: 1%;
    }
</style>

<div class="">
    <h3 class="display-4 text-center">All Accounts</h3>
    <hr class="titleHR">
    <table id="accountsList" data-toggle="table" data-pagination="true" data-url="/staff/admin/accounts-data" data-search="true" data-sort-name="type" data-show-refresh="true" data-show-columns="true" data-search-on-enter-key="true" data-show-search-button="true">
        <thead>
            <th data-field="type" data-sortable="true">Type</th>
            <th data-field="fname" data-sortable="true">First Name</th>
            <th data-field="lname" data-sortable="true">Last Name</th>
            <th data-field="email">Email</th>
            <th data-field="hp">H/P</th>
            <th data-field="lastLogin">Last Log In</th>
            <th data-field="staffId" data-formatter="staffButtons"></th>
            <th data-field="id" data-formatter="deleteButtons"></th>
        </thead>
    </table>

</div>

<script>
    $('#datepicker').datepicker({
        format: 'yyyy-mm-dd',
        uiLibrary: 'bootstrap4',
        defaultDate: "{{formatDate content.dob 'YYYY-MM-DD'}}"
    })
    function staffButtons(staffId) {
        if (staffId != null) {
            return '<div style="display: flex; justify-content: space-between"><a href="/staff/admin/manage-staff/' + staffId + '"><i class="fas fa-pencil-square-o text-dark"></i></a><a href="/staff/pdf/' + staffId + '" target="_blank"><i class="fas fa-print text-muted"></i></a>'
        } else {
            return ""
        }
    }
    function deleteButtons(id) {
        return '<div style="display: flex; justify-content: space-between"><a href="/staff/admin/confirm-delete/' + id + '"><i class="fas fa-trash text-danger"></i></a></div>'
    }
    function confirmation(id) {
        var c = confirm("Are you sure you would like to delete this user?")
        console.log(c)
        
    }
</script>
