
<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->
{{!-- to show ALL accounts in the database --}}

<div>
    <table id="announcements" data-toggle="table" data-pagination="true" data-url="/staff/announcements-data" data-search="true" data-sort-name="date" data-sort-order="desc" data-show-refresh="true" data-show-columns="true" data-search-on-enter-key="true" data-show-search-button="true">
        <thead>
            <th data-field="date">Date</th>
            <th data-field="title">Title</th>
            <th data-field="description">Description</th>
        </thead>
    </table>
</div>

<script>
    $('#datepicker').datepicker({
        format: 'yyyy-mm-dd',
        uiLibrary: 'bootstrap4',
        defaultDate: "{{formatDate content.date 'YYYY-MM-DD'}}"
    });
</script>
