<div class="row">
	<div class="col-md-6 mx-auto">
		<div class="card card-body">
			<h3 class="text-center">New Announcement</h3>
			<form action="" method="post"><div class="form-group">
				<label for="aDate">Date</label>
					<input type="date" class="form-control" name="aDate" value="" readonly>
				</div>
				<div class="form-group">
					<label for="aTitle">Title</label>
					<input type="text" class="form-control" name="aTitle" value="" required>
				</div>
				<div class="form-group">
					<label for="aDesc">Description (Optional)</label>
				    <textarea class="form-control" id="aDesc" name="story" rows="7"></textarea>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>