{{!-- create stock order form --}}
<style>
    .btn {
        background-color: gray;
        color: white;
    }

    .btn:hover {
        background-color: white;
        color: maroon;
        border-color: maroon;
    }
</style>


<form method="POST" action="/staff/inventory/stock/order/{{item.itemSerial}}">
    <div class="form-group">
        <label for "stockorderDate">Order Date</label>
        <input id="stockorderDate" class="form-control" name="stockorderDate" width="200" name="dateRelease" readonly />
    </div>

    <div class="form-group">
        <label for "shipmentStatus">Shipment Status</label>
        <input type="text" class="form-control" name="shipmentStatus" value="Ordered" disabled required>
    </div>

    <div class="form-group">
        <label for "shipmentDate">Shipment Date</label>
        <input type="date" id="shipmentDate" class="form-control" name="shipmentDate" value="" required>
    </div>

    <div id = "order-item">
        <div class="form-group">
            <label for "itemSerial">Item Serial</label>
            <input type="text" class="form-control" name="itemSerial" value="{{item.itemSerial}}" required>
        </div>

        <div class="form-group">
            <label for "stockorderQuantity">Order Quantity</label>
            <input type="number" class="form-control" name="stockorderQuantity" value="" required>
        </div>
    </div>

    <br>
    <button type="submit" class="btn">Submit Order</button>

</form>

<script>
    $('#stockorderDate').datepicker({
        format: 'dd/mm/yyyy',
        value: new Date().toLocaleDateString('en-SG'),
        uiLibrary: 'bootstrap4',
    });
</script>